.parent{
	height: 90px;
}
.kiddo{
	height: 1000px;
}
.kid{
	height: 700px;
}
.kiddy{
	height: 700px;
}
.child{
	height: 500px;

}
.Child{
	height: 100px;

}
.BD{
	height: 50px;
}S
.BD1{
	height: 50px;
}
.BDS{
	height: 0px;
}
.bds{
	height: 100px;
}
.LO{
	height: 50px;
}
.LOK{
	height: 50px;
}
.LOKI{
	height: 50px;
}
.ASS{
	height: 80px;
	width: 100px;
}
.img-likes{
	width: 100px;
}
.img-fon{
	margin-left: 200px;
}
.proval{
	height: 20px;
	width: 120px;
}
.proval-2{
	height: 20px;
	width: 80px;
}
.proval-3{
	height: 30px;
	width: 200px; 
}